.title {
    font-size: 8vh;
    font-family: halyard-display,sans-serif;
    font-weight: 500;
    font-style: normal;
}

.subtitle {
    font-size: 5vh;
    font-family: halyard-display,sans-serif;
    font-weight: 400;
    font-style: italic;
}

.text-container {
    text-align: center;
    padding-bottom: 5vh;
}

.link {
    width: 95%;
    height: fit-content;
    margin: auto;
    margin-bottom: 3vh;
    background-color: gray;
    border-radius: 5%;
    padding: 1vh;
}
.link-text-container {

}

.link.title {
    font-size: 7vh;
    margin: 0;
}

.link.subtitle {
    font-size: 3vh;
    margin: 0;
}

