html {
    background-color: #00f8fc;
}

a {
    margin: 0;
    text-decoration: none;
    color: azure
}

.title {
    font-size: 8vh;
    font-family: halyard-display,sans-serif;
    font-weight: 500;
    font-style: normal;
}

.subtitle {
    font-size: 5vh;
    font-family: halyard-display, sans-serif;
    font-weight: 400;
    font-style: italic;
}

.text-container {
    text-align: center;
    padding-bottom: 5vh;
}

.link {
    width: 90%;
    height: fit-content;
    margin: auto;
    margin-bottom: 3vh;
    background-color: rgba(0, 0, 0, 0.493);
    border-radius: 5vh;
    padding: 1vh;
    transition: all 0.5s ease-in-out;
    
}

.link:hover {
    background-color: rgba(0, 0, 0, 0.678);
    transition: all 0.5s ease-in-out;
}

.link-text-container {
    padding: 2vh;
    margin: 0;
}

.link .title {
    font-size: 7vh;
    margin: 0;
}

.link .subtitle {
    font-size: 3vh;
    margin: 0;
}

